
.button {
    background: linear-gradient(to right, blue, #0099ff);
    width: 10rem;
    height: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: .5rem;
    font-weight: bold;
    transition: .5s
}

.button:hover {
    opacity: .5
}